<div class="restaurant-card">
  <div class="container pt-3">
    <div class="row justify-content-between">
      <h4>
        {{ restaurant.name }}
      </h4>
      <i class="fa fa-heart" aria-hidden="true"></i>
    </div>

    <p id="location">
      {{ restaurant.location }}
    </p>
    <!-- <ngb-rating [rate]="restaurant.rating" [readonly]='true'></ngb-rating> -->
    <ngb-rating [rate]="restaurant.rating" [readonly]='true'>
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
      </ng-template>
    </ngb-rating>
  </div>
  <hr />
  <div class="container">
    <p>
      {{ restaurant.cuisine }}
    </p>
    <p>
      {{ restaurant.price }}
    </p>
    <p>
      {{ restaurant.time }}
    </p>
  </div>
  <hr />
  <div class="container pb-3">
    <h5>Photos !!!</h5>
  </div>
</div>
