<div class="restaurant-card">
  <div class="container pt-3">
    <div class="row justify-content-between">
      <a
        style="text-decoration: none; color: rgba(57, 51, 44, 1)"
        href="restaurant-details/{{ restaurant.id }}"
        ><h4 style="font-size: 30px; font-weight: 600">
          {{ restaurant.name }}
        </h4></a
      >
      <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
      <img *ngIf="isFavorite" style="height: 28px; width: 31px;" src="../../assets/icons/heart.png" alt="">
    </div>

    <p style="color: rgba(175, 175, 175, 1)" class="mb-0" id="location">
      {{ restaurant.location }}
    </p>
    <ngb-rating [rate]="restaurant.rating" [readonly]="true" [max]="5">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3"
          >&#9733;</span
        >
      </ng-template>
    </ngb-rating>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <div class="col-1">
        <img
          src="../../assets/icons/dish.png"
          style="width: 42px"
          class="icon"
          alt=""
        />
      </div>
      <div class="col-10">
        <p class="card-fields">
          {{ stringTrim(restaurant.cuisine) }}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <img
          src="../../assets/icons/price.png"
          style="width: 33px; padding-top:10px"
          class="icon"
          alt=""
        />
      </div>
      <div class="col-10">
        <p class="card-fields">&#8377; {{ restaurant.price }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-1">
        <img
          src="../../assets/icons/time.png"
          style="width: 35px"
          class="icon"
          alt=""
        />
      </div>
      <div class="col-10">
        <p class="mcard-fields">
          {{ timeConvert(restaurant.start_time) }} to
          {{ timeConvert(restaurant.close_time) }}
        </p>
      </div>
    </div>
  </div>

  <div
    class="container py-3 d-flex justify-content-between"
  >
    <div>
      <img
        class="photos"
        *ngFor="let photo of restaurant.photos"
        src="{{ photo.url }}"
      />
    </div>
    <div>
      <button class="btn">View Menu</button>
    </div>
  </div>
</div>
