#restaurant-list {
  background-color: rgba(242, 232, 218, 1);
  padding-top: 30px;
}

#filterbar {
  background-color: rgba(250, 245, 238, 1);
  height: 56px;
}

p {
  color: rgba(177, 131, 71, 1);
  font-size: 30px;
  margin-top: 3px;
}

.dropdown-menu {
  background-color: rgba(250, 245, 238, 1);
}

button {
  font-family: "SF UI Display";
  color: rgba(192, 56, 56, 1);
}

div.options p {
  font-family: "SF UI Display";
  font-size: 20px;
  margin-top: 0.8rem;
  color: rgba(192, 56, 56, 1);
  cursor: pointer;
}

.cards {
  margin: 0px 0px 30px 0px;
}

div#restaurant-list {
  min-height: calc(100vh - 276px);
}
