<app-navbar></app-navbar>
<div id="filterbar">
  <div class="container d-flex">
    <p>Restaurant</p>
    <div class="options ml-auto d-flex">
      <ng-template #mapContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title w-100 text-center" id="modal-basic-title">
            Map View
          </h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div *ngIf="restaurants" class="modal-body">
          <agm-map
            [latitude]="restaurants[0].latitude / 1"
            [longitude]="restaurants[0].longitude / 1"
            [zoom]="10"
          >
            <agm-marker
              *ngFor="let restaurant of restaurants"
              [latitude]="restaurant.latitude / 1"
              [longitude]="restaurant.longitude / 1"
            >
              <agm-info-window>
                <strong>{{restaurant.name}}</strong>
              </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </ng-template>

      <p class="mr-4" (click)="open(mapContent)">Map View</p>
      <div ngbDropdown container="body">
        <p ngbDropdownToggle>Filter</p>
        <div ngbDropdownMenu>
          <button (click)="filterByAll()" ngbDropdownItem>All</button>
          <button (click)="filterByBreakfast()" ngbDropdownItem>
            Breakfast
          </button>
          <button (click)="filterByLunch()" ngbDropdownItem>Lunch</button>
          <button (click)="filterByDinner()" ngbDropdownItem>Dinner</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>Delivery</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="restaurant-list">
  <div class="container">
    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()"
      class="row"
    >
      <div *ngFor="let restaurant of restaurants" class="cards col-lg-6">
        <app-restaurant-cards [restaurant]="restaurant"></app-restaurant-cards>
      </div>
    </div>
  </div>
</div>
