#filterbar {
  background-color: rgba(250, 245, 238, 1);
  height: 56px;
}

p#title {
  color: rgba(177, 131, 71, 1);
  font-size: 30px;
}

img.carousel-image {
  width: 100%;
  object-fit: cover;
  height: 417px;
  border-radius: 10px;
}

.details {
  background-color: rgba(242, 232, 218, 1);
  padding-bottom: 2em;
}

.restaurant-card {
  background-color: white;
  border-radius: 1em;
  margin-top: 2em;
  font-family: "SF UI Display";
}

div.row {
  margin: 0px 0px 0px;
}

img.icon {
  margin-top: 12px;
}

p {
  font-size: 24px;
  color: rgba(57, 51, 44, 1);
}

.star {
  font-size: 2rem;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(243, 163, 67, 1);
}
.filled {
  color: rgba(243, 163, 67, 1);
}

.filled.bad {
  color: rgba(243, 163, 67, 1);
}

.card-fields {
  padding-top: 5px;
}

div.modal-content {
  width: 640px;
}

div.modal-body {
  padding: 0px;
}

ngx-gallery ::ng-deep ngx-gallery-thumbnails {
  margin-left: 60px;
  width: calc(100% - 120px);
}

::ng-deep .ngx-gallery-thumbnail {
  border-radius: 20px;
}

ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow i.fa-angle-left {
  margin-left: -43px;
  color: black;
}

ngx-gallery /deep/ ngx-gallery-thumbnails .ngx-gallery-arrow i.fa-angle-right {
  position: relative;
  right: -43px;
  color: black;
}

agm-map {
  height: 817px;
}

ngb-carousel ::ng-deep .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.modal-title {
  color: rgba(177, 131, 71, 1);
}

button.btn {
  background-color: rgba(192, 56, 56, 1);
  border-radius: 26px;
  margin-right: 1.5em;
  margin-bottom: 1em;
  margin-top: 1em;
  color: rgba(255, 235, 235, 1);
  font-size: 18px;
  font-weight: 500;
  min-width: 155px;
}

button#submit {
  background-color: rgba(78, 30, 18, 1);

  margin-top: 0em;
}

div.alert {
  margin-top: 0.5em;
  border-radius: 2em;
}

.form-control.ng-touched.ng-invalid {
  border: 2px solid red;
}

.ngx-gallery {
  display: inline-block;
  margin-bottom: 20px;
}
