<app-navbar></app-navbar>
<div id="filterbar">
  <div class="container d-flex">
    <p id="title">Restaurant Details</p>
  </div>
</div>

<div class="details">
  <div class="container carousel" style="padding-top: 2em">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carousel-image" [src]="images[0]" alt="first slide" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carousel-image" [src]="images[1]" alt="second slide" />
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carousel-image" [src]="images[2]" alt="third slide" />
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="container">
    <div *ngIf="restaurant" class="restaurant-card">
      <div class="pt-3 container">
        <div class="row justify-content-between">
          <div class="col">
            <h4 style="font-size: 30px; font-weight: 600">
              {{ restaurant.name }}
            </h4>
            <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->

            <p style="color: rgba(175, 175, 175, 1)" class="mb-0" id="location">
              {{ restaurant.location }}
            </p>
            <ngb-rating [rate]="restaurant.rating" [readonly]="true" [max]="5">
              <ng-template let-fill="fill" let-index="index">
                <span
                  class="star"
                  [class.filled]="fill === 100"
                  [class.bad]="index < 3"
                  >&#9733;</span
                >
              </ng-template>
            </ngb-rating>
          </div>
          <div class="col text-sm-right">
            <div class="card-fields d-flex justify-content-sm-end">
              <p style="color: green" *ngIf="isOpen(); else closed">Open</p>
              <ng-template #closed>
                <p>Closed</p>
              </ng-template>
              <p class="ml-1">
                - {{ timeConvert(restaurant.start_time) }} to
                {{ timeConvert(restaurant.close_time) }}
              </p>
            </div>
            <p class="card-fields" style="color: rgba(78, 30, 18, 1)">
              <img
                src="assets/icons/phone-details.png"
                style="height: 29px; width: 29px"
                alt=""
              />
              {{ restaurant.phone }}
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div class="container" style="padding-left: 2em">
        <div class="d-flex">
          <div>
            <img src="../../assets/icons/dish.png" alt="" />
          </div>
          <div>
            <p class="pl-2 card-fields">
              {{ restaurant.cuisine }}
            </p>
          </div>
        </div>
        <div class="row mt-1">
          <div>
            <img
              src="../../assets/icons/price.png"
              style="width: 33px"
              class="icon"
              alt=""
            />
          </div>
          <div>
            <p class="pl-3 card-fields">&#8377; {{ restaurant.price }}</p>
          </div>
        </div>
      </div>

      <hr />
      <div class="container" style="padding-left: 2em">
        <p style="color: rgba(123, 120, 116, 1)">
          {{ restaurant.address1 }}, {{ restaurant.address2 }}
        </p>

        <ng-template #mapContent let-modal>
          <div class="modal-header">
            <h4 class="modal-title w-100 text-center" id="modal-basic-title">
              Map & Directions
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="restaurant" class="modal-body">
            <agm-map
              [latitude]="restaurant.latitude / 1"
              [longitude]="restaurant.longitude / 1"
              [zoom]="18"
            >
              <agm-marker
                [latitude]="restaurant.latitude / 1"
                [longitude]="restaurant.longitude / 1"
              ></agm-marker>
            </agm-map>
          </div>
        </ng-template>
        <button class="btn" (click)="open(mapContent)">Map & Directions</button>
        <button class="btn">View Menu</button>

        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title w-100 text-center" id="modal-basic-title">
              Photos
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <ngx-gallery
              [options]="galleryOptions"
              [images]="galleryImages"
              class="ngx-gallery"
            ></ngx-gallery>
          </div>
        </ng-template>

        <button class="btn" (click)="openPhotosModal(content)">Photos</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngIf="restaurant" class="restaurant-card">
      <div class="pt-3 container">
        <h4
          class="col"
          style="
            font-family: 'Copse';
            font-size: 28px;
            color: rgba(57, 51, 44, 1);
          "
        >
          Review
        </h4>
        <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
      </div>
      <hr />
      <div *ngIf="reviews !== null && reviews.length > 0; else noReview">
        <div *ngFor="let review of reviews">
          <div class="container">
            <div class="row">
              <div class="col-12 col-lg-1">
                <img
                  src="{{ review.profile_img }}"
                  style="height: 70px; width: 70px; border-radius: 50%"
                  alt=""
                />
              </div>
              <div class="col-12 col-lg-11">
                <div class="row justify-content-between">
                  <div>
                    <p
                      style="
                        margin-bottom: -5px;
                        font-size: 22px;
                        color: rgba(58, 58, 58, 1);
                      "
                    >
                      {{ review.name }}
                    </p>
                    <ngb-rating
                      [rate]="review.rating"
                      [readonly]="true"
                      [max]="5"
                    >
                      <ng-template let-fill="fill" let-index="index">
                        <span
                          class="star"
                          [class.filled]="fill === 100"
                          [class.bad]="index < 3"
                          >&#9733;</span
                        >
                      </ng-template>
                    </ngb-rating>
                  </div>
                  <p style="font-size: 16px; color: rgba(180, 180, 180, 1)">
                    {{ momentify(review.reviewed_at) }}
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <p class="pt-1"
                style="
                  font-size: 16px;
                  font-weight: 300;
                  color: rgba(78, 78, 78, 1);
                "
              >
                {{ review.review }}
              </p>
            </div>
          </div>
          <hr />
        </div>
        <div>
          <p
            *ngIf="shouldLoad"
            style="
              cursor: pointer;
              text-align: center;
              text-decoration: underline;
              padding-bottom: 0.5em;
              color: rgba(192, 56, 56, 1);
            "
            (click)="loadMoreReviews()"
          >
            Load more
          </p>
        </div>
      </div>
      <ng-template #noReview>
        <div class="container">
          <p class="pb-3 col">No reviews at the moment</p>
        </div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="isLoggedIn" class="container">
    <div *ngIf="restaurant" class="restaurant-card">
      <div class="pt-3 container">
        <h4
          class="col"
          style="
            font-family: 'Copse';
            font-size: 28px;
            color: rgba(57, 51, 44, 1);
          "
        >
          Write Review
        </h4>
        <!-- <i class="fa fa-heart" aria-hidden="true"></i> -->
      </div>
      <hr />
      <div class="container">
        <div class="col">
          <ngb-rating [(rate)]="newReview.rating" [readonly]="false" [max]="5">
            <ng-template let-fill="fill" let-index="index">
              <span
                class="star"
                [class.filled]="fill === 100"
                [class.bad]="index < 3"
                >&#9733;</span
              >
            </ng-template>
          </ngb-rating>
          <form #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm.value)">
            <div class="form-group">
              <textarea
                class="form-control"
                rows="3"
                name="review"
                required
                #review="ngModel"
                [(ngModel)]="newReview.review"
                placeholder="Write review here"
              ></textarea>
              <div
                class="alert alert-danger"
                *ngIf="review.touched && !review.valid"
              >
                <div *ngIf="review.errors.required">Please enter a review</div>
              </div>
            </div>
            <button
              id="submit"
              type="submit"
              [disabled]="!reviewForm.form.valid"
              class="btn"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
