<button
  style="font-size: 20px; font-family: SF UI Display; font-weight: 500"
  class="btn login-button"
>
  <div ngbDropdown>
    <div class="d-flex justify-content-between">
      <img id="profile-img" src="{{ profileImage }}" alt="" />
      <p
        style="margin-bottom: 0em; margin-left: 10px; padding-top: 4px"
        ngbDropdownToggle
      >
        {{ profileName }}
      </p>
    </div>
    <div ngbDropdownMenu>
      <a href="profile" ngbDropdownItem>
        <img src="assets/icons/profile.png" class="dropdown-icons" />
        Profile</a
      >
      <button ngbDropdownItem>
        <img src="assets/icons/favourite.png" class="dropdown-icons" alt="" />
        Favourites
      </button>
      <button ngbDropdownItem>
        <img src="assets/icons/myrestaurants.png" class="dropdown-icons" alt="" />
        My Restaurants
      </button>
      <button ngbDropdownItem>
        <img src="assets/icons/notifications.png" class="dropdown-icons" alt="" />
        Notifications
      </button>
      <div class="dropdown-divider"></div>
      <button (click)="logout()" ngbDropdownItem>
        <img src="assets/icons/logout.png" class="dropdown-icons" alt="" />
        Logout</button>
    </div>
  </div>
</button>
