nav {
  background-color: rgba(177, 131, 71, 1);
  min-height: 110px;
}

#search-bar input {
  margin-top: 1.6em;
}

button#search-button {
  margin-left: -3em;
  margin-top: 1.9em;
  border-radius: 5em;
  height: 2.4em;
  width: 2.4em;
  z-index: 1;
}

#search-bar input#search {
  height: 49px;
  background-color: rgba(255, 255, 255, 1);
  border-top-right-radius: 51px;
  border-bottom-right-radius: 51px;
  font-family: "SF UI Display";
  z-index: 0;
  width: 30%;
}

#search-bar input#location {
  height: 49px;
  background-color: rgba(255, 255, 255, 1);
  font-family: "SF UI Display", FontAwesome;
  border-top-left-radius: 51px;
  border-bottom-left-radius: 51px;
}

input[type="text"]::placeholder {
  font-size: 18px;
font-weight: 300;
  color: rgba(149, 145, 138, 1);
}

button#search-button {
  margin-left: -2.7em;
  margin-top: 1.97em;
  border-radius: 5em;
  height: 2.4em;
  width: 2.4em;
  z-index: 1;
}
