<nav>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a href="home">
          <img
            id="logo"
            class="p-2"
            src="assets/images/nav-logo.png"
            alt="logo"
          />
        </a>
      </div>
      <div id="search" class="col-8">
        <div class="row justify-content-md-center">
          <div class="col col-lg-8">
            <div id="search-bar" class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search for restaurants, cuisine or a dish"
                aria-label="search"
                aria-describedby="search"
              />
              <div class="input-group-append">
                <button class="btn btn-danger" id="search-button" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
