<nav>
  <div class="container">
    <div class="row">
      <div class="col-2">
        <a href="home">
          <img
            id="logo"
            class="p-2"
            src="assets/images/nav-logo.png"
            alt="logo"
          />
        </a>
      </div>
      <div id="search" class="col-8">
        <div class="row justify-content-md-center">
          <div class="col col-lg-8">
            <div id="search-bar" class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search for restaurants, cuisine or a dish"
                aria-label="search"
                aria-describedby="search"
              />
              <div class="input-group-append">
                <button class="btn btn-danger" id="search-button" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="form-container">
  <h4 class="w-100 text-center" id="modal-basic-title">New Password</h4>
  <form #newPasswordForm="ngForm" (ngSubmit)="onSubmit(newPasswordForm.value)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="form-group">
            <i class="fa fa-unlock-alt fa-lg"></i>
            <input
              type="password"
              class="form-control"
              name="password"
              #password="ngModel"
              [(ngModel)]="user.password"
              placeholder="Password"
              required
              minlength="8"
            />
            <div
              class="alert alert-danger"
              *ngIf="password.touched && !password.valid"
            >
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">
                Minimum
                {{ password.errors.minlength.requiredLength }} characters
                required
              </div>
            </div>
          </div>
          <div class="form-group">
            <i class="fa fa-lock fa-lg"></i>
            <input
              type="password"
              ngValidateEqual="password"
              class="form-control"
              name="confirmPassword"
              required
              #confirmPassword="ngModel"
              [(ngModel)]="user.confirmPassword"
              placeholder="Confirm Password"
            />
            <div
              class="alert alert-danger"
              *ngIf="confirmPassword.touched && !confirmPassword.valid"
            >
              <div *ngIf="confirmPassword.errors.required">
                Please confirm password
              </div>
              <div *ngIf="confirmPassword.hasError('notEqual')">
                The passwords do not match
              </div>
            </div>
            <div class="alert alert-danger" *ngIf="serverError !== ''">
                {{ serverError }}
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <button
            type="submit"
            ngbAutofocus
            class="btn w-100"
            [disabled]="!newPasswordForm.form.valid"
          >
            Go
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
