<!-- Footer -->
<footer class="page-footer font-small pt-3">
  <!-- Footer Links -->
  <div class="container text-center text-lg-left">
    <!-- Grid row -->
    <div class="row d-flex align-items-center">
      <!-- Grid column -->
      <div class="col-12 col-lg-5">
        <!--Copyright-->
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1"> Privacy </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1"> Terms </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1"> About </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-sm rgba-white-slight mx-1"> Contact </a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-12 col-lg-7 ml-lg-0 pt-3">
        <!-- Social buttons -->
        <div class="text-center text-lg-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <p class="text-center text-md-left">
                Copyright © 2016 Oulu. All Rights Reserved
              </p>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <img src="../../assets/icons/fb-footer.png" alt="" />
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <img src="../../assets/icons/tw-footer.png" alt="" />
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <img src="../../assets/icons/go-footer.png" alt="" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
