#favorites-list {
  background-color: rgba(242, 232, 218, 1);
  padding-top: 30px;
  min-height: calc(100vh - 265px);
}

#filterbar {
  background-color: rgba(250, 245, 238, 1);
  height: 56px;
}

p {
  color: rgba(177, 131, 71, 1);
  font-size: 30px;
  margin-top: 3px;
}

.cards {
  margin-bottom: 30px;
}
