<div id="showcase">
  <button class="btn btn-primary">Sign In</button>
  <img id="logo" src="assets/images/logo.png" alt="logo" />
  <h3>Find the best restaurants, cafés and bars in Kochi</h3>

  <div class="row justify-content-md-center">
    <div class="col col-md-6">
      <div id="search-bar" class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search for restaurants, cuisine or a dish"
          aria-label="search"
          aria-describedby="earch"
        />
        <div class="input-group-append">
          <button class="btn btn-danger" type="button">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="categories">
  <h3>Here are 4 ways to think about your next meal</h3>
  <div class="row justify-content-md-center">
    <div class="category col col-lg-2">
      <img src="assets/images/breakfast.png" alt="" />
      <h4 class="category-name">Breakfast</h4>
    </div>
    <div class="category col col-lg-2">
      <img src="assets/images/lunch.png" alt="" />
      <h4 class="category-name">Lunch</h4>

    </div>
    <div class="category col col-lg-2">
        <img src="assets/images/dinner.png" alt="" />
        <h4 class="category-name">Dinner</h4>
    </div>
    <div class="category col col-lg-2">
        <img src="assets/images/delivery.png" alt="" />
        <h4 class="category-name">Delivery</h4>
    </div>
  </div>
</div>
