#showcase {
  background: url(../../assets/images/home-background.png);

  /*background: url(../img/showcase.jpg) no-repeat top center fixed/cover;*/

  min-height: 913px;
  color: #fff;
  padding-top: 46px;
}

#categories {
  background: url(../../assets/images/home-background1.png);

  /*background: url(../img/showcase.jpg) no-repeat top center fixed/cover;*/

  min-height: 357px;
  color: #fff;
  padding-top: 2rem;
}

.category {
  position: relative;
  margin: 35px 30px 30px 30px;
}

.category-name {
  position: absolute;
  bottom: 30px;
  left: 75px;
}

#top-restaurants {
  background-color: rgba(242, 232, 218, 1);
}

img#logo {
  margin-top: 7em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  margin: 0px 0px 30px 0px;
}

h4 {
  font-size: 26px;
  color: rgba(202, 163, 112, 1);
  font-family: "SF UI Display";
}

h2,
p {
  text-align: center;
}

img#location {
  position: absolute;
  left: 40px;
  top: 36px;
}

p {
  font-size: 24px;
  font-family: San Francisco;
  color: rgba(148, 129, 103, 1);
  margin-bottom: 3rem;
}

h2#search-heading {
  margin-top: 4em;
  margin-bottom: 1em;
}

.ng-autocomplete {
  color: black;
}

.ng-autocomplete ::ng-deep .input-container input {
  height: 102px;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  border-top-right-radius: 51px;
  border-bottom-right-radius: 51px;
  font-family: "SF UI Display";
  font-size: 28px;
}
.ng-autocomplete ::ng-deep .autocomplete-container {
  box-shadow: none;
  margin-right: 94px;
}

.ng-autocomplete ::ng-deep .autocomplete-container ::ng-deep .not-found {
  display: none;
}

div#signin-container {
  margin-right: 5em;
}

@media screen and (max-width: 600px) {
  div#signin-container {
    margin-right: 10px;
  }
}

select#location {
  margin-right: -10px;
  height: 102px;
  background-color: rgba(255, 255, 255, 1);
  font-family: "SF UI Display", FontAwesome;
  border-top-left-radius: 51px;
  z-index: 0;
  font-size: 28px;
  text-indent: 35px;
  border-bottom-left-radius: 51px;
}

.ng-autocomplete ::ng-deep .input-container input[type="text"]::placeholder {
  font-size: 28px;
  font-weight: 300;
  color: rgba(149, 145, 138, 1);
}

button#search-button {
  position: absolute;
  margin-left: -5.5em;
  margin-top: 0.8em;
  border-radius: 5em;
  height: 4.8em;
  width: 4.8em;
  z-index: 1;
}

button.signin-button {
  float: right;
  margin-right: 2em;
  border-radius: 30px;
  background-color: rgba(78, 30, 18, 1);
  color: white;
  width: 100px;
}

#all-res-link {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 1.6em;
  color: rgba(192, 56, 56, 1);
}
