<div>
    <div class="modal-header">
      <h4 class="modal-title w-100 text-center" id="modal-basic-title">
        Forgot Password
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form
      #forgotForm="ngForm"
      (ngSubmit)="onSubmit(forgotForm.value)"
    >
      <div class="container">
        <div class="modal-body">

          <div class="form-group">
            <img
            class="form"
            src="../../assets/images/mail.png"
            alt=""
            style="top: 21px"
          />            <input
              type="email"
              class="form-control"
              name="email"
              #email="ngModel"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
              [(ngModel)]="user.email"
              placeholder="Email"
              required
            />
            <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.pattern">Enter a valid email</div>
            </div>
            <div class="alert alert-danger" *ngIf="serverError !== ''">
              {{ serverError }}
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <div class="container w-100">
          <button
            type="submit"
            ngbAutofocus
            class="btn w-100"
            [disabled]="!forgotForm.form.valid"
          >
            Go
          </button>
        </div>
      </div>
    </form>
  </div>
  